html {
  --paper: hsl(0, 0%, 100%);
  --note: hsl(0deg 0% 92%);
  --outline-on-note: hsl(0, 0%, 77%); /* ~1.3 */
  --ink-on-note: hsl(0deg 0% 39%);
  --ink: hsl(0deg 0% 14%);
  --red-ink: hsl(0deg 50% 53%);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--paper);
  color: var(--ink);
}

/* RANDOM */
.hidden {
  display: none;
}

/* SLASH */
.slash {
  opacity: 0.382;
  text-decoration-line: line-through;
}

/* TAG */
.tag {
  border-radius: 4px;
  padding: 0 4px;
  font-size: 16px;
  word-break: keep-all;
  border-width: 1px;
  border-style: solid;

  color: inherit;
  border-color: unset;
} .black.tag {
  background-color: var(--ink);
  color: var(--paper);
  border-color: var(--ink);
} .dark.tag {
  background-color: var(--ink-on-note);
  color: var(--paper);
  border-color: var(--ink-on-note);
} .red.tag {
  background-color: var(--red-ink);
  color: var(--paper);
  border-color: var(--red-ink);
}

/* SOLID */
.solid {
  overflow: hidden;
  background-color: red;
  color: yellow;
} .note.solid {
  background-color: var(--note);
  color: var(--ink-on-note);
} .black.solid {
  background-color: var(--ink);
  color: var(--paper);
} .white.solid {
  background-color: var(--paper);
  color: var(--ink);
} .solid.oversize.p8 {
  padding: 8px;
  width: 100%;
  margin-left: -8px;
  margin-top: -8px;
}

/* STAMP */
.mistake-stamp {
  color: var(--red-ink);
  font-size: 48px;
  position: absolute;
  border: solid 4px var(--red-ink);
  line-height: 48px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  padding: 8px;
  outline: solid 4px var(--red-ink);
  outline-offset: 4px;
  right: 0;
  top: 0;
  margin: 48px;
  animation: fade-out 2s ease-in-out;
}
@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

